body {
    background-color: #2D8652;
}

h1{
    font-size: 300%;
    font-family: Arial;
}
p.a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    font-style: italic;
}
p.b{
    color: #FFDFB3;
    font-size: 150%;
    font-family: sans-serif
}
p.c{
    color: #DD9F1A;
    font-family: monospace;
    font-size: 200%;
}
p.d{
    color: #E6194D;
    font-family: cursive;
    font-size: 150%
}